DROP TABLE [joryuumeijin]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [joryuumeijin](
	[joryuumeijin_number] [int] NULL,
	[number_of_times_won] [int] NULL,
	[current_holder] [bit] NULL
) ON [PRIMARY]
GO
