DROP TABLE [narikyoo_positions]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [narikyoo_positions](
	[mover] [bit] NULL,
	[koma] [int] NOT NULL,
	[position] [int] NULL
) ON [PRIMARY]
GO
