DROP TABLE [hiragana]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hiragana](
	[en] [nvarchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[jp] [nvarchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]
GO
