DROP TABLE [hakurei]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hakurei](
	[hakurei_number] [int] NULL,
	[number_of_times_won] [int] NULL,
	[current_holder] [bit] NULL
) ON [PRIMARY]
GO
