DROP TABLE [banmen]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [banmen](
	[masume] [int] NULL,
	[suji] [int] NOT NULL,
	[dan] [int] NOT NULL,
	[kakuparallel] [int] NULL,
	[kakuorthogonal] [int] NULL
) ON [PRIMARY]
GO
