DROP TABLE [yamadachallenge_f]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [yamadachallenge_f](
	[yamadachallenge_f_number] [int] NULL,
	[number_of_times_won] [int] NULL,
	[current_holder] [bit] NULL
) ON [PRIMARY]
GO
